/** Fonts **/

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700");
@font-face {
  font-family: 'Avenir';
  src: url("http://127.0.0.1:8080/assets/fonts/AvenirLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: 'Avenir';
  src: url("http://127.0.0.1:8080/assets/fonts/Avenir.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Avenir';
  src: url("http://127.0.0.1:8080/assets/fonts/AvenirItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Avenir';
  src: url("http://127.0.0.1:8080/assets/fonts/AvenirMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Avenir';
  src: url("http://127.0.0.1:8080/assets/fonts/AvenirMediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: 'Avenir';
  src: url("http://127.0.0.1:8080/assets/fonts/AvenirBold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Avenir';
  src: url("http://127.0.0.1:8080/assets/fonts/AvenirBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic; }

/** Styles for common elements **/

body {
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.25px;
    color: #242424;
    text-align: left;
    line-height: 25px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Code Pro", sans-serif;
    font-size: 14px;    
    font-weight: 500;
    color: #242424;
    margin: 0px;
    margin-bottom: 1rem;
}

.mb-0\.25 {
    margin-bottom: 0.25rem;
}

.under-h1 {
    font-size: 12.5px;
    font-style: italic;
    color: #6e6e6e;
    margin-bottom: 1rem;
}

.small-uppercase {
    font-size: 10px;
    text-transform: uppercase;
}

h3 {
    font-size: 12.5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #6e6e6e;
    margin-bottom: 0.5rem;
}

p {
    padding-bottom: 8px;
    margin-top: 8px;
}

table {
    width: 100%;
    line-height: 20px;
    border-collapse: collapse;
}

th, td {
    vertical-align: top;
    padding: 0;
}

table.wrap {
    width: fit-content;
}

table.wrap td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table td.inline-code {
    font-size: 11px;
}

table .default {
    background-color: rgba(242, 242, 228, 0.75);
    text-align: center;
}

table .option {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 400;
    white-space: nowrap;
    text-align: right;
    font-size: 11px;
}

.nowrap {
    white-space: nowrap;
}

.extended-table {
    width: 200%;
    margin-left: -50%;
    display: flex;
    justify-content: space-evenly;
}

pre {
    background-color: #f6f8fa;
    padding: 16px;
    margin: 0;
    font-size: 12.5px;
}

pre.output {
    background-color: rgba(242, 242, 228, 0.35);
    font-size: 10px;
    line-height: 16px;
    color: #808080;
}

pre .prompt {
    color: rgba(106, 137, 171, 0.65);
}

a {
    text-decoration: underline;
    color: #242424;
}

a:hover {
    color: #fff;
    background-color: #242424;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

table.img-grid {
    border-spacing: 1rem;
}

img {
}

.grid-img {
    width: 100%;
}

.under-img {
    font-size: 12.5px;
    font-style: italic;
    color: #6e6e6e;
    margin-bottom: 1.5rem;
    text-align: center;
}

.subtitle {
    font-size: 12.5px;
    font-style: italic;
    color: #6e6e6e;
    margin-bottom: 0.5rem;
}

.hidden {
    display: none;
}

/** Legends **/

.legend {
    font-size: 12px;
}

/** Container, nav, content **/

.container {
    padding-top: 6rem;
    padding-bottom: 10rem;
    display: flex;
    justify-content: start;
    overflow-x: hidden;
}

.nav-container {
    width: 25%;
}

.nav {
    width: 200px;
    padding-top: 6rem;
    padding-left: 2rem;
    padding-right: 1rem;
    margin-left: auto;
}

.content {
    width: 50%;
    padding-top: 3rem;
}

.doc {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.hangright {
    margin-left: auto;
}

.flex {
    display: flex;
}

/** Navigation style **/

.nav ul {
    list-style: none;
    list-style-type: none;
    padding-inline-start: 0px;
}

.nav table a {
    text-decoration: none;
}

.nav table tr.title {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

/** Content spacing **/

.vspace {
    padding-left: 1rem;
    padding-right: 1rem;
}

.hspace-0\.5 {
    height: 0.25rem;
}

.hspace-1 {
    height: 0.75rem;
}

.hspace-2 {
    height: 1.5rem;
}

.vcenter {
    vertical-align: middle;
}

.mt-0\.5 {
    margin-top: 0.5rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-1\.5 {
    margin-top: 1.5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

mb-0\.25 {
    margin-bottom: 0.25rem;
}

.pt-0\.5 {
    padding-top: 0.5rem;
}

.pl-0\.25 {
    padding-left: 0.25rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-0\.5 {
    padding-right: 0.5rem;
}

.pr-0 {
    padding-right: 0rem;
}

.pr-0\.25 {
    padding-right: 0.25rem;
}

.pr-0\.5 {
    padding-right: 0.5rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pl-4 {
    padding-left: 4rem;
}

.pl-6 {
    padding-left: 6rem;
}

/** Content font styles **/

.em {
    font-style: italic;    
}

.inline-code {
    font-family: "Source Code Pro", sans-serif;
    font-weight: 400;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

/** Typographic labels **/

.label {
    font-family: "Source Code Pro", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: right;
}

.label-center {
    font-family: "Source Code Pro", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

/** Colors **/

.red {
    color: #ff0000;
}

.purple {
    color: #9172b5;
}

.light-blue {
    color: #00bbff;
}

.grey-blue {
    color: #8095a6;
}

/** Code notes **/

.underhang {
    margin-top: 2rem;
    margin-left: auto;
    width: fit-content;
}
